<div>掲示板</div>
<div class="board_head">
  <div class="board_date">
    <%= @board.created_at %>
  </div>
  <div class="board_title">
    <%= @board.title %>
  </div>
  <div class="board_content">
    <%= @board.description %>
  </div>
</div>

<div class="comments">
  <% board.comments.each do |comment|%>
    <%=comment.content%>
    <%=comment.user%>
  <% end %>
</div>

<div class="container">
  <% if user_signed_in? %>
    <%= form_with(model: [@board,@comment], local:true) do |form|%>
      <%=form.text_area :text, placeholder: "投稿", rows:"2"%>
      <%=form.submit "SEND" %>
    <%end%>
  <% else %>
    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
  <div class="comments">
    <h4><comment-list></h4>
    <% @comments.each do |comment|%>
      <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}"%>:</strong>
        <%= comment.text %>
      </p>
    <% end%>
  </div>
</div>