<div class="board_list">
  <div class="make_boards">
    <div class="say_come">話しちゃお!</div>
    <% if user_signed_in? %>
          <%= link_to '掲示板・ブログを立てる', new_board_path %>
    <% end %>
  </div>
  <% @boards.each do |board| %>
    <div class="board-list">
      <div class="board_title">
        <%= board.title %>
      </div>
      <div class="board_content">
        <%= board.description %>
      </div>
      <div class="board_date">
        <%= board.created_at %>
      </div>
      <div class="board_user">
        <%= board.user.nickname %>
      </div>
      <%= link_to 'コメントする', board_path(board.id) %>
    </div>
  <% end %>
</div>